<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483199139989-vaa0438fgkuqnbc2fvk6pru9gdi6ocel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483199139989-vaa0438fgkuqnbc2fvk6pru9gdi6ocel</string>
	<key>API_KEY</key>
	<string>AIzaSyDOszML6G8qDQqeuLkqCUJzDPN60ezwpWc</string>
	<key>GCM_SENDER_ID</key>
	<string>483199139989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jasunlichee.Thrifty</string>
	<key>PROJECT_ID</key>
	<string>thriftyapp-fa095</string>
	<key>STORAGE_BUCKET</key>
	<string>thriftyapp-fa095.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:483199139989:ios:ee85364ba7a3a4eef7db9c</string>
</dict>
</plist>
